{% extends "base.html" %}

{% block content %}

{% comment %} first section {% endcomment %}

<section class="bg-pink text-dark py-5 mb-5">

    <div class="container-fluid px-5">

        <div class="row align-items-center">

            <div class="col-md-6">

                <h1 class="display-4 fw-bold">
                    Glow Naturally
                </h1>

                <h2 class="text-success">
                    Premium Cosmetic Collection
                </h2>

                <p class="mt-3">
                    Discover skincare, makeup and beauty products at affordable prices.
                </p>

                <a href="#products" class="btn btn-success">
                    Shop Now
                </a>

            </div>

            <div class="col-md-6">

                <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?w=700"
                     class="img-fluid rounded">

            </div>

        </div>

    </div>

</section>

<!-- Categories Section -->

<section class="container my-5">

    <h2 class="text-center mb-5">
        Shop By Category
    </h2>

    <div class="row text-center">

        <div class="col-md-3 mb-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>💄</h4>

                    <h5>Makeup</h5>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>🧴</h4>

                    <h5>Skincare</h5>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>🌸</h4>

                    <h5>Perfume</h5>

                </div>

            </div>

        </div>

        <div class="col-md-3 mb-4">

            <div class="card shadow">

                <div class="card-body">

                    <h4>💅</h4>

                    <h5>Nail Care</h5>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Offer Banner -->

<section class="container mb-5">

    <div class="bg-success text-white text-center p-5 rounded">

        <h2>
            🎉 Summer Sale
        </h2>

        <h4>
            Flat 30% OFF on Selected Cosmetic Products
        </h4>

        <p>
            Use Coupon Code:
            <strong>GLOW30</strong>
        </p>

        <a href="#products" class="btn btn-light">
            Shop Now
        </a>

    </div>

</section>

{% comment %} product {% endcomment %}

<h2 class="mb-4">Our Products</h2>

<div class="row">

{% for product in products %}

<div class="col-md-3 mb-4">

    <div class="card shadow h-100">

    <img src="{{ product.image.url }}"
         class="card-img-top"
         style="height:180px; object-fit:contain;">

    <div class="card-body d-flex flex-column text-center">

        <h5 class="fw-bold">
            {{ product.name }}
        </h5>

        <p class="text-muted small">
            {{ product.description }}
        </p>

        <h5 class="text-success fw-bold">
            ₹ {{ product.price }}
        </h5>

        <a href="{% url 'add_to_cart' product.id %}"
           class="btn btn-success w-100 mt-auto">
            Add To Cart
        </a>

        <a href="{% url 'add_to_wishlist' product.id %}"
          class="btn btn-outline-danger w-100 mt-2">
                ❤ Add to Wishlist
        </a>

    </div>

</div>

</div>

{% endfor %}

{% endblock %}